<%- include('../partials/header.ejs') %> 

<div class="auth_form_wrapper py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form class="auth_form py-5 rounded" method="POST" action="/auth/change-password">
                    <h1>Change Password</h1>
                    <p class="text-muted mt-2"> Please enter following information!</p> 


                    <input 
                    type="password" 
                    name="oldPassword" 
                    placeholder="Old Password"
                    value="<%= value.oldPassword && value.oldPassword %>"
                    class="<%= error.oldPassword || passErr ? 'is-invalid' : '' %>"
                    > 
                    <div class="invalid-feedback">
                        <%= error.oldPassword && error.oldPassword %>
                        <%= passErr && passErr.msg %>
                    </div>

                    <input 
                    type="password" 
                    name="newPassword" 
                    placeholder="New Password"
                    value="<%= value.newPassword && value.newPassword %>"
                    class="<%= error.newPassword ? 'is-invalid' : '' %>"
                    > 
                    <div class="invalid-feedback">
                        <%= error.newPassword %>
                    </div>

                    <input 
                    type="password" 
                    name="confirmPassword" 
                    placeholder="Confirm Password"
                    value="<%= value.confirmPassword && value.confirmPassword %>"
                    class="<%= error.confirmPassword ? 'is-invalid' : '' %>"
                    > 
                    <div class="invalid-feedback">
                        <%= error.confirmPassword %>
                    </div>

                    <input 
                    type="submit" 
                    name="" 
                    value="Update"
                    >

                </form>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %> 
</body>
</html>